<footer class="bg-background/5 px-4 py-4">
  <p>© 2023 by Nguyen Cong Nhat Thien</p>
</footer>

<style>
  p {
    @apply text-sm text-text/50;
  }

  a {
    @apply underline hover:text-text/80;
  }
</style>

